<div class="products col-sm-12 col-md-8 offset-md-2">

    <div class="row col-md-12">
        <ul class="list-group">
            <% @categories.each do |category| %>
                <li class="list-group">
                    <%= render 'categories/category_no_links', category: category %>
                        <ol class="list-group">
                            <% category.subcategories.each do |subcategory| %>
                                <li class="list-group-item">
                                    <div class="row align-items-center">
                                        <div class="col-sm-1 text-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-arrow-return-right"
                                                viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z" />
                                            </svg>
                                        </div>
                                        <div class="name col-sm-2">
                                            <%= subcategory.name %>
                                        </div>
                                        <div class="name col-sm-3">
                                            <% count = subcategory.products.count %>
                                            Zawiera <%= count %> <%= pluralize_product(count) %>.
                                        </div>
                                        <% if subcategory.products.any? %>
                                            <div class="col-sm-3 ms-auto">
                                                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseProducts-<%= subcategory.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                    Pokaż produkty
                                                </a>
                                            </div>
                                        <% end %>
                                        <div class="col-sm-3 ms-auto">
                                            <%= link_to "Dodaj produkt" , new_product_path(subcategory_id: subcategory.id), class: "btn btn-primary" %>
                                        </div>
                                    </div>
                                    <div class="collapse" id="collapseProducts-<%= subcategory.id %>">
                                        <% i = 1 %>
                                        <% subcategory.products.each do |product| %>
                                            <div class="row border-top bg-info my-2 p-2">
                                                <div class="col-sm-1">
                                                    <%= i %>.
                                                    <% i += 1 %>
                                                </div>
                                                <div class="col-sm-2">
                                                    <%= product.name %>.
                                                </div>
                                                <div class="col-sm-5">
                                                    <%= product.short_description %>.
                                                </div>
                                                <div class="col-sm-1">
                                                    <%= product.price %>.
                                                </div>

                                                <div class="col-sm-2 ms-auto">
                                                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseProductOptions-<%= product.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                        Opcje
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row collapse justify-content-end" id="collapseProductOptions-<%= product.id %>">
                                                <div class="col-sm-1 text-center mx-1">
                                                    <%= link_to "Pokaż" , product_path(product.id), class: "btn btn-primary" %>
                                                </div>
                                                <div class="col-sm-1 text-center mx-1">
                                                    <%= link_to "Edytuj" , '#', class: "btn btn-primary" %>
                                                </div>
                                                <div class="col-sm-1 text-center mx-1 me-3">
                                                    <%= link_to "Usuń" , '#', class: "btn btn-primary" %>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                </li>
                                <% end %>
                        </ol>
                </li>
                <% end %>
        </ul>
    </div>
</div>