<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="mb-3 border-bottom p-3">Dodaj nowy produkt </h1>
    <div class="row">
      <div class="col">
        <h3>Kategoria: </h1>
      </div>
      <div class="col">
        <h3><%= @subcategory.category.name %></h3>      
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col">
        <h3>Podkategoria: </h1>
      </div>
      <div class="col">
        <h3><%= @subcategory.name %></h3>      
      </div>
    </div>
    <div class="row mt-3">
      <%= form_with(model: @product, scope: :product, local: true) do |f| %>
        <%= render "shared/error_messages" , object: f.object %>
        <%= f.hidden_field :subcategory_id, value: @subcategory_id %>
        <%= f.label :name, "Nazwa produktu" %>
        <%= f.text_field :name, class: "form-control" %>
        <%= f.label :short_description, "Krótki opis" %>
        <%= f.text_field :short_description, class: "form-control" %>
        <%= f.label :long_description, "Dłuższy opis" %>
        <%= f.text_field :long_description, class: "form-control" %>
        <%= f.label :price, "Cena" %>
        <%= f.number_field :price, step: 0.5 %>
        <%= f.submit "Stwórz nowy!" , class:"btn btn-primary"%>
      <% end %>
    </div>
</div>