<div class="row">
    <div class="col-xs-12 col-lg-12 col-xl-10 offset-xl-1">
        <div class="row">
            <div class="col-xs-12 col-lg-5 mb-4 text-center">
                <%= image_tag @product.display_image if @product.image.attached? %>
            </div>

            <div class="col-xs-12 col-lg-5 ms-md-3">
                <div class="row">
                    <div class="col">
                        <h3>
                            Kategoria:
                        </h3>
                    </div>
                    <div class="col">
                        <h3>
                            <%= @product.subcategory.category.name %>
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3>
                            Podkategoria:
                        </h3>
                    </div>
                    <div class="col">
                        <h3>
                            <%= @product.subcategory.name %>
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3>
                            Nazwa:
                        </h3>
                    </div>
                    <div class="col">
                        <h3>
                            <%= @product.name %>
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3>
                            Krótki opis:
                        </h3>
                    </div>
                    <div class="col">
                        <h3>
                            <%= @product.short_description %>
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3>
                            Cena:
                        </h3>
                    </div>
                    <div class="col">
                        <h3>
                            <%= @product.price %>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>