<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Dodaj nowy produkt </h1>
    <div class="row">
      <div class="col">
        <h2>Kategoria: </h1>
      </div>
      <div class="col">
        <%= @category.name %>
      </div>
    </div>
      <div class="col">
        <h2>Podkategoria: </h1>
      </div>
      <div class="col">
        <%= @subcategory.name %>
      </div>
      <div class="row">
    </div>

    <%= form_with(model: @product, scope: :product, local: true) do |f| %>
        <%= render "shared/error_messages" , object: f.object %>
        <%= f.label :category, text: "Kategoria?" %>
        <%= f.select :category, @categories.map{|cat| cat.name}, {}, { :class => 'form-select' } %>
        <%= f.label :sucategory, text: "Podkategoria?" %>
        <%= f.collection_select :subcategory_id, Subcategory.all, :id, :name, {}, { :class => 'form-select' } %>
        <%= f.label :short_description, text: "Krótki opis" %>
        <%= f.text_field :name, class: "form-control" %>
        <%= f.label :long_description, text: "Dłuższy opis" %>
        <%= f.text_field :name, class: "form-control" %>
        <%= f.label :price, text: "Cena" %>
        <%= f.number_field :amount, step: 0.5 %>
        <%= f.submit "Stwórz nowy!", class:"btn btn-primary"%>
    <% end %>
  </div>
</div>